/*footer*/
.footer,
.footer * {
  box-sizing: border-box;
}
.footer {
  background: #0f0f0f;
  border-radius: 12px 12px 0px 0px;
  border-style: solid;
  border-color: #141414;
  border-width: 1px;
  height: 100px;
  position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0; /* Add padding as needed */
}

.mood-waves {
    color: #ffffff;
    font-size: 36px;
    width: 250px;
    margin: 25px auto; /* Added margin top and bottom */
    display: block;
    margin-top: -3px;
  }
  
  .copyright-2024-by-mood-waves-all-rights-reserved,
.copyright-2024-by-mood-waves-all-rights-reserved * {
  box-sizing: border-box;
}
.copyright-2024-by-mood-waves-all-rights-reserved {
  color: #ffffff;
  text-align: center;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 27.3px;
  font-weight: 400;
  position: relative;
  margin-top: -15px;
}

/* Centering and adjusting position of the social links */
.social-links {
    margin-top: -5px;
    text-align: center;
  }
  
  .icon-link {
    color: #ffffff;
    text-decoration: none;
    font-family: "WorkSans-Regular", sans-serif;
    font-size: 14px;
    margin-right: 20px;
    display: inline-flex;
    align-items: center;
    transition: color 0.3s; /* Smooth color transition on hover */
  }
  
  .icon-link i {
    margin-right: 5px;
  }
  
  /* Example styling for icons */
  .fab.fa-github {
    color: #ffffff; /* Color for GitHub icon */
  }
  
  .far.fa-envelope {
    color: #ffffff; /* Color for Email icon */
  }
  
  /* Hover effect */
  .icon-link:hover {
    color: #d2ff3a; /* Change color on hover */
  }