@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #000; /* Background color */
    color: #fff; /* Text color */
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}





.edit-profile-form {
    background: #100019; /* Form background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(151, 3, 224, 0.1);
    max-width: 400px;
    width: 100%;
    border: 2px solid #5f4db6; /* Purple-blue border color */
}

.form-group {
    margin-bottom: 25px; /* Increased bottom margin for spacing */
}

form h2 {
    color: #ccc;
    margin-bottom: 30px; /* Increased margin below the title for better spacing */
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #333;
    color: #fff;
    margin-bottom: 10px; /* Added space between input fields and their edit button */
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block; /* For buttons next to inputs */
}

.edit-btn, .save-btn {
    background-color: #6a5acd; /* Purple-blue color */
    color: white;
}

.edit-btn:hover, .save-btn:hover {
    background-color: #5f4db6; /* Darker purple-blue on hover */
}

.change-pwd-btn {
    background-color: #6a5acd;
    color: white;
    width: 100%;
    margin-top: 15px; /* Added gap between input fields and change password button */
}

.change-pwd-btn:hover {
    background-color: #5f4db6;
}

.delete-btn {
    background-color: #d9534f; /* Red color for delete */
    color: white;
    width: 100%;
    margin-top: 20px; /* Added more gap before delete account button for clear separation */
}

.delete-btn:hover {
    background-color: #c9302c;
}

#password-fields {
    margin-top: 10px;
}

@media (max-width: 600px) {
    .edit-profile-form {
        padding: 10px;
        max-width: 100%;
    }
}

.back-arrow {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff; /* Adjust based on your color scheme */
    font-size: 24px; /* Adjust size as needed */
    z-index: 1000; /* Ensure it's above other elements */
}

.back-arrow:hover {
    color: #ccc; /* Lighter shade on hover for visual feedback */
}

