:root {
    --noble-black700: rgba(19, 22, 25, 1);
    --noble-black300: rgba(155, 156, 158, 1);
    --noble-black400: rgba(104, 107, 110, 1);
    --noble-black200: rgba(205, 206, 207, 1);
    --noble-black0: rgba(255, 255, 255, 1);
    --stem-green500: rgba(182, 240, 156, 1);
    --noble-black600: rgba(26, 29, 33, 1);
    --noble-black500: rgba(54, 58, 61, 1);
    --day-blue900: rgba(12, 17, 50, 1);
    --body-XL-medium-font-family: "Plus Jakarta Sans", Helvetica;
    --body-XL-medium-font-weight: 500;
    --body-XL-medium-font-size: 18px;
    --body-XL-medium-letter-spacing: 0.15000000596046448px;
    --body-XL-medium-line-height: 28px;
    --body-XL-medium-font-style: normal;
    --body-l-semibold-font-family: "Plus Jakarta Sans", Helvetica;
    --body-l-semibold-font-weight: 600;
    --body-l-semibold-font-size: 16px;
    --body-l-semibold-letter-spacing: 0.15000000596046448px;
    --body-l-semibold-line-height: 24px;
    --body-l-semibold-font-style: normal;
    --body-s-medium-font-family: "Plus Jakarta Sans", Helvetica;
    --body-s-medium-font-weight: 500;
    --body-s-medium-font-size: 12px;
    --body-s-medium-letter-spacing: 0.15000000596046448px;
    --body-s-medium-line-height: 18px;
    --body-s-medium-font-style: normal;
    --body-l-medium-font-family: "Plus Jakarta Sans", Helvetica;
    --body-l-medium-font-weight: 500;
    --body-l-medium-font-size: 16px;
    --body-l-medium-letter-spacing: 0.15000000596046448px;
    --body-l-medium-line-height: 24px;
    --body-l-medium-font-style: normal;
    --heading-XS-semibold-font-family: "Plus Jakarta Sans", Helvetica;
    --heading-XS-semibold-font-weight: 600;
    --heading-XS-semibold-font-size: 20px;
    --heading-XS-semibold-letter-spacing: 0px;
    --heading-XS-semibold-line-height: 32px;
    --heading-XS-semibold-font-style: normal;
    --body-m-medium-font-family: "Plus Jakarta Sans", Helvetica;
    --body-m-medium-font-weight: 500;
    --body-m-medium-font-size: 14px;
    --body-m-medium-letter-spacing: 0.15000000596046448px;
    --body-m-medium-line-height: 20px;
    --body-m-medium-font-style: normal;
    --heading-l-semibold-font-family: "Plus Jakarta Sans", Helvetica;
    --heading-l-semibold-font-weight: 600;
    --heading-l-semibold-font-size: 32px;
    --heading-l-semibold-letter-spacing: 0px;
    --heading-l-semibold-line-height: 40px;
    --heading-l-semibold-font-style: normal;
    --body-m-regular-font-family: "Plus Jakarta Sans", Helvetica;
    --body-m-regular-font-weight: 400;
    --body-m-regular-font-size: 14px;
    --body-m-regular-letter-spacing: 0.15000000596046448px;
    --body-m-regular-line-height: 20px;
    --body-m-regular-font-style: normal;
    --shadow-small: 0px 1px 3px 0px rgba(0, 0, 0, 0.05), 0px 1px 2px -1px rgba(0, 0, 0, 0.05);
    --outline-heisenberg-blue: 0px 0px 0px 4px rgba(132, 220, 245, 0.24);
}
